{% extends 'BaseUI/BaseManager/baseManager.html' %}
{% load staticfiles %}
{% load static %}

{% block library %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Facility Management{% endblock %}

{% block vertical %}
    <!--<a class="active">&emsp;HOME</a>-->
    <a href="{% block homedetail %}{% endblock %}" class="{% if page == 'managerHomeDetail' %}activeLink{% endif %}"><i class="fa fa-home">&emsp; Home</i></a>
    <a href="{% block listmana %}{% endblock %}" class="{% if page == 'listManagement' %}activeLink{% endif %}"><i class="fa fa-building">&emsp;Danh mục nhà máy</i></a>
    <a href="{% block calculate %}{% endblock %}" class="{% if page == 'calculateFunctionManager' %}activeLink{% endif %}"><i class="fa fa-edit">&emsp;Chức năng tính toán</i></a>
    <!--<a href="{% block toolmanage %}{% endblock %}" class="{% if page == 'toolManager' %}activeLink{% endif %}"><i class="fa fa-list">&emsp;Tiện ích quản lí</i></a>-->
    <a class="dropdown-btn"><i class="fa fa-caret-down">&emsp; Công cụ tiện ích</i></a>
    <div class="dropdown-container">
        <a class="a-normal" href="{% url 'forum' %}" data-toggle="tooltip" data-placement="bottom" title="Forum"><i class="fa fa-dedent">&emsp;Diễn đàn hỏi đáp</i></a>
        <a class="a-normal" href="{% url 'messagesInbox' %}" data-toggle="tooltip" data-placement="bottom" title="Messages"><i class="fa fa-wechat">&emsp;Message</i></a>
        <a class="a-normal" href="{% url 'help' %}" data-toggle="tooltip" data-placement="bottom" title="Help"><i class="fa fa-question">&emsp;Trợ giúp</i></a>
        <a class="a-normal" href="{% url 'reportmana' %}" data-toggle="tooltip" data-placement="bottom" title="Report"><i class="fa fa-file">&emsp;Lập báo cáo</i></a>
    </div>
    <!--<a href="{% block design %}{% endblock %}" class="{% if page == 'listDesign' %}activeLink{% endif %}"><i class="fa fa-barcode">&emsp;Design Code</i></a>-->
    <!--<a href="{% block manu %}{% endblock %}" class="{% if page == 'listManu' %}activeLink{% endif %}"><i class="fa fa-cubes">&emsp;Manufacture</i></a>-->
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          } else {
          dropdownContent.style.display = "block";
          }
          });
        }
    </script>
{% endblock %}